[submodule "ZeldaEngine/vendor/spdlog"]
	path = ZeldaEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ZeldaEngine/vendor/json"]
	path = ZeldaEngine/vendor/json
	url = https://github.com/nlohmann/json
